<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!-- navbar -->
    <div>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/create-user">Create user</a></li>
            <li><a href="contact.asp">Contact</a></li>
            <li><a href="about.asp">About</a></li>
        </ul>
    </div>
    <!-- navbar -->

    <!-- form -->
    <!-- <div>
        <form action="/create-user" method="POST">
            <div class="imgcontainer">
                <img src="images/babe.png" width="10px" height="300px" alt="Avatar" class="avatar">
            </div>

            <div class="container">
                <label for="uname"><b>Email</b></label>
                <input type="text" placeholder="Enter email" name="email" required>

                <label for="psw"><b>Name</b></label>
                <input type="text" placeholder="Enter name" name="name" required>

                <label for="psw"><b>City</b></label>
                <input type="text" placeholder="Enter city" name="city" required>

                <button type="submit">Register</button>
                <label>
                    <input type="checkbox" name=""> Remember me
                </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </form>
    </div> -->
    <!-- form -->
    <!-- table -->
    <!-- table -->
    <div class="table-container">
        <table>
            <div class="title">
                List users
            </div>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>City</th>
                <th>Action</th>
            </tr>

            <% for (let i=0; i < listUsers.length; i++) { %>
                <tr>
                    <td>
                        <%=listUsers[i].id%>
                    </td>
                    <td>
                        <%=listUsers[i].email%>
                    </td>
                    <td>
                        <%=listUsers[i].name%>
                    </td>
                    <td>
                        <%=listUsers[i].city%>
                    </td>
                    <td>
                        <a href="/edit-user/<%=listUsers[i].id%>"
                            style="text-decoration: none"><button>Edit</button></a>
                        <a href="/delete-user" style="text-decoration: none">
                            <form action="/delete-user/<%=listUsers[i].id%>" method="post">
                                <button>Delete</button>
                            </form>
                        </a>
                    </td>
                </tr>
                <% } %>
        </table>
    </div>
    <!-- table -->
</body>

</html>